@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Elektronikai Raktár</title>
</head>

<body>
    <img src="https://www.printrace.eu/IMG/Presentazione/Warehouse/ConsumiScarti.gif"
         alt=""
         class="card-img-top" />
</body>
</html>
